* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    height: 900px;
    padding: 3vh 3vw 0;
    font-family: "Spartan", sans-serif;
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 200px 280px;
}

/*******section upper-part**********/

.container__upper-part {
    display: flex;
    justify-content: space-between;
}

/* *****info****** */
.container__info {
    width: 44%;
}

.container__title {
    margin: 20px 0;
    font-size: 60px;
    color: hsl(300, 43%, 22%);
}

.container__description {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.5em;
    color: hsl(303, 10%, 53%);
}

/*******rates*******/
.container__rates {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rate-card {
    width: 75%;
    line-height: 60px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
}

.rate-card__icon-stars {
    float: left;
    margin: 0 30px;
    color: #E39852;
    letter-spacing: 5px;
}

.rate-card__info {
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.rate-card--position2 {
    align-self: center;
}

.rate-card--position3 {
    align-self: flex-end;
}

/*********section opinion*********/

.container__opinion {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

/*********opinion-card*********/

.opinion-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    width: 32%;
    height: 320px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    font-size: 15px;
    line-height: 2em;
    color: hsl(300, 24%, 96%);
}

.opinion-card__image {
    width: 18%;
    border-radius: 50%;
    margin: 20px;
}

.opinion-card__name {
    font-weight: 700;
}

.opinion-card__buyer {
    color: hsl(333, 80%, 67%);
}

.opinion-card__cite {
    margin: 10px 10px 10px 20px;
}

.opinion-card--position2 {
    align-self: center;
}

.opinion-card--position3 {
    align-self: flex-end;
}

/******** footer *********/

.container__footer {
    padding: 10px;
}