* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

.page {
    display: flex;
    min-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 3vh 3vw 0;
    max-width: 1440px;
    height: 900px;
    background: url(./images/bg-pattern-top-desktop.svg) top left no-repeat, url(./images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
    font-family: "Spartan", sans-serif;
}

/*******HEADER_BOX**********/

.page__header-box {
    display: flex;
}

/******header-box****** */

.page__header {
    width: 45%;
}

.header__title {
    margin: 20px 0;
    font-size: 60px;
    color: hsl(300, 43%, 22%);
}

.header__description {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5em;
    color: hsl(303, 10%, 53%);
}

/*******rates*******/

.page__rates {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 55%;
}

.rate-card {
    width: 75%;
    border-radius: 8px;
    background-color: hsl(300, 24%, 96%);
    line-height: 60px;
}

.rate-card__icon-stars {
    display: inline-block;
    margin: 0 30px;
    letter-spacing: 5px;
    color: #E39852;
}

.rate-card__info {
    display: inline-block;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

.rate-card--position2 {
    align-self: center;
}

.rate-card--position3 {
    align-self: flex-end;
}

/*********OPINION-BOX*********/

.page__opinion-box {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    width: 100%;
}

/*********opinion-card*********/

.page__opinion-card {
    padding: 20px;
}

.opinion-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 32%;
    height: 320px;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
    font-size: 15px;
    line-height: 2em;
    color: hsl(300, 24%, 96%);
}

.opinion-card__image {
    margin: 20px;
    width: 18%;
    border-radius: 50%;
}

.opinion-card__name {
    font-weight: 700;
}

.opinion-card__buyer {
    color: hsl(333, 80%, 67%);
}

.opinion-card__quote {
    margin: 10px 10px 10px 20px;
}

.opinion-card--position2 {
    align-self: center;
}

.opinion-card--position3 {
    align-self: flex-end;
}

/******** footer *********/

.page__footer {
    margin-bottom: 10px;
    font-size: 11px;
    text-align: center;
}

@media(max-width:1152px) {
    .container {
        padding: 2vh 2vw 0;
    }

    .header__title {
        margin: 10px 0;
        font-size: 52px;
    }

    .rate-card {
        width: 93%;
    }

    .rate-card__icon-stars {
        margin: 0 10px;
    }

    .opinion-card {
        height: max-content;
        font-size: 14px;
        line-height: 1.8em;
    }

    .page__footer {
        display: none;
    }
}

@media(max-width:811px) {
    .container {
        padding: 5vh 5vw 0;
        height: max-content;
        background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
        background-repeat: no-repeat, no-repeat;
    }

    .page__header-box {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .page__header {
        width: 100%;
        text-align: center;
    }

    .header__title {
        padding: 20px 40px;
    }

    .page__rates {
        width: 100%;
    }

    .page__rate-card {
        margin: 20px 0;
    }

    .rate-card {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    .rate-card__icon-stars {
        display: block;
    }

    .page__opinion-box {
        flex-direction: column;
    }

    .page__opinion-card {
        margin: 20px 0;
    }

    .opinion-card {
        width: 100%;
        font-size: 20px;
    }
}